body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}
.options-list > li{
    float: center;
    margin-left: 10px;
    font: 14px sans-serif;
}
.options-list img {
    margin-top: -4px;
    cursor: pointer;
}
.options-list {
    margin-left: -10px;
}
.select-sort {
    color: #748996;
    text-decoration: underline;
    cursor: pointer;
}
.sorting-list {
    border: 1p solid #A3C0D2;
    position: absolute;
    width: 200px;
    height: 108px;
    background-color:  white;
    padding-top: 5px;
    display: none;
}
.sorting-list li {
    margin-top: 3px;
    margin-left: 3px;
}
.sorting-list a {
    font: 15px;
    text-decoration: none;
    color: black;
}
.sorting-list a:hover {
    text-decoration: underline;
        

}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
	margin-bottom: 25px;
    color: #FFBF00;
}
.on-view {
    font-size: 20px;
	margin-bottom: 25px;
    color: #FFBF00;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}




<!---//////////////////////////////////////-->